.card{
    border-radius: 10px;
    background-color: grey;
}

.saved-list{
    border-radius: 15px;
    background-color: darkgrey;
}


.saved-list.list-group-item{
    border: 1px solid black;
    margin: 20px;
}

.deleteBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}
.saveBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px}